* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    text-decoration: none;
    color: #010101;
  }
  /***********************************Start header and footer****************************/
  body {
    /* font: 15px/1.5 Arial, Helvetica, sans-serif; */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    overflow-y: scroll;
  }
  header {
    padding-top: 15px;
    min-height: 70px;
  }
  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  .formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

  form label{
    width: 124px;
    height: 18px;
    color: #535353;
    line-height: 2em;
    margin-left: 1em;
  }
  form input{
    box-sizing: border-box;
    width:600px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    line-height: 2em;
  }
  .btn{
    height: 40px;
    width: 100px;
    background-color: #2A254B;
    border: 0;
    margin-top: 15px;
    color: #ffffff;
  }
  /* .formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
  } */
  /* .productInput{
    width:500px;
    height: 30px;
  }
  .ProductInputs{
      display: block;
  }
  form label{
      display: inline-block;
      color: #535353;
      padding-top: 13px;
      padding-left: 15px;
  }
  form input{
      border: 2px solid #D1D1D1;
  }
  .ProductInputs ::placeholder{
    
}*/
.productsList{
  margin-top: 150px;
   width: 100%;

}
.productsList .searchBox{
    width: 80%;
       display: flex;
       flex-direction: row;
       justify-content: flex-end;
}
.productsList .searchBox i{
    padding: 9px;
}
.productsList .searchBox input{
    border-radius: 60px;
}
.productsList .showProducts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.productsList .showProducts .head{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 8px;
}
.showingItems{
background: #EFEDED;
padding: 30px 5px;
display: flex;
flex-direction: row;
justify-content: space-evenly;
height: 25px;
margin-bottom: 15px;
} 
.showingItems p{
    display: flex;
    justify-content: space-evenly;
    width: 9rem;
    margin-right: 10px;
}
.showingItems .icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 5em;
}

  nav,
  footer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
  }
  nav ul,
  footer ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 420px;
    align-items: center;
    font-size: 18px;
  }
  nav div *,
  footer div * {
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    margin: 0 10px;
  }
  footer {
    width: 100%;
    background-color: #47464611;
    padding: 30px 50px;
    margin-top: 30px;
  }
  footer ul {
    font-size: 16px;
    width: 330px;
  }
  /***********************************End header and footer****************************/
  